{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
   




        <div class="container">
            <div class="row">
                <div class="col-12 bg-white ">
                {##}
                    <div class="d-flex flex-column align-items-center" <img class="photo" src="https://images.unsplash.com/photo-1541647376583-8934aaf3448a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">

                        <p class="fw-bold h4 mt-3">{{ [patient.LastName|upper, ' ', patient.FirstName, ] | join }}</p>
                       
                        <div class="d-flex ">
                            <a href="{{ path('app_patient_edit', {'id': patient.id}) }}"  class="btn btn-primary follow me-2" >edit</a>
                     <a href="deletePatient/{{patient.id}}"  class="btn btn-outline-primary message" data-toggle="modal" data-target="#delete{{ patient.id}}" >Delete</a>

                        </div>
                    </div>
                </div>
                
        </div>
      
        <div class="container">
            <div class="row">
                <div class="col-12 bg-white ">
                   
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <p class="py-2">First Name</p>
                        <p class="py-2 text-muted">{{ patient.FirstName }}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <p class="py-2">Last Name</p>
                        <p class="py-2 text-muted">{{ patient.LastName }}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <p class="py-2">Cin</p>
                        <p class="py-2 text-muted">{{ patient.Cin }}</p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between border-bottom">
                        <p class="py-2">Gender</p>
                        <p class="py-2 text-muted">{{ patient.Gender }}</p>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="py-2">Phone</p>
                        <p class="py-2 text-muted"> {{ patient.Tel }}</p>
                    </div>
                </div>
               
            </div>
        </div>
   
{# Modal Delete #}
    <div class="modal fade"  id="delete{{patient.id}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">suppression</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
 Sure to delete {{ patient.FirstName }} !!
         </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <a href="deletePatient/{{patient.id}}" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> delete</a>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}