{% extends 'base.html.twig' %}

{% block title %}Nurses Plannig {% endblock %}

{% block body %}
{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
 
<div class="container" >
       
 <div class="col-sm-8 center-block" >

               
            <div class="body" display="inline">
                        <div class="form-group">
                 {{ form_label(form.FullName) }}
                {{ form_widget(form.FullName, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.FullName) }}
                {{ form_errors(form.FullName) }}
                        </div>
                        <div class="form-group">
                           {{ form_label(form.Group) }}
                {{ form_widget(form.Group, {'attr': {'class': 'form-control'}}) }}
                {{ form_help(form.Group) }}
                {{ form_errors(form.Group) }}
                        </div>
       
             </div>
                   <div class="footer">
                      <button type="submit" class="btn btn-primary" >{{ button_label|default('Save') }}</button>
                    </div>

  {# {% set nursesMorningg = [1, 2, 3] %} #}
    {# {{ dump(nursesMorningg) }} #}
    <table class="table table-striped table-hover" class="col-sm-8">
                    <thead>

                        <tr>
                         
                            <th>Group A</th>
                         
                        </tr>
                    </thead>
                   <tbody>
                   {{dump(nursesMorning)}}
                   {% for nurse in nursesMorning %}
                   
                      <tr>
                            {# {% if category.subcategories|length > 0 %} #}
                            <td>{{ nurse }}</td>
                          {{ dump() }}
                        
                        </tr>
                        {% else %}
        <li><em>no user found</em></li>


 


  {% endfor %}
  </tbody>                    
  </table>

      <table class="table table-striped table-hover" class="col-sm-8">
                    <thead>

                        <tr>
                         
                            <th>Group B</th>
                         
                        </tr>
                    </thead>
                   <tbody>
                   {{dump(nursesEvening)}}
                   {% for nurse in nursesEvening %}
                   
                      <tr>
                            {# {% if category.subcategories|length > 0 %} #}
                            <td>{{ nurse }}</td>
                          {{ dump() }}
                        
                        </tr>
                        {% else %}
        <li><em>no user found</em></li>


 


  {% endfor %}
  </tbody>                    
  </table>
      <table class="table table-striped table-hover" class="col-sm-8">
                    <thead>

                        <tr>
                         
                            <th>Group C</th>
                         
                        </tr>
                    </thead>
                   <tbody>
                   {{dump(nursesNight)}}
                   {% for nurse in nursesNight %}
                   
                      <tr>
                            {# {% if category.subcategories|length > 0 %} #}
                            <td>{{ nurse }}</td>
                          {{ dump() }}
                        
                        </tr>
                        {% else %}
        <li><em>no user found</em></li>


 


  {% endfor %}
  </tbody>                    
  </table>
  {{ form_end(form) }}

              </div>
 </div>
    

  {% endblock %}